local.file_match "nginx_local_files" {
  path_targets = [
    {"__path__" = "/var/log/nginx/*.log"},
  ]
  sync_period = "5s"
}
loki.source.file "nginx_log_scrape" {
  targets    = local.file_match.nginx_local_files.targets
  forward_to = [loki.process.nginx_logs.receiver]
  tail_from_end = true
}
loki.process "nginx_logs" {
  stage.static_labels {
    values = {
      job     = "nginx",
      service = "nginx",
    }
  }

  forward_to = [loki.write.grafana_loki.receiver]
}


local.file_match "psql_local_files" {
  path_targets = [
    {"__path__" = "/var/log/postgresql/*.log"},
  ]
  sync_period = "5s"
}
loki.source.file "log_scrape" {
  targets    = local.file_match.psql_local_files.targets
  forward_to = [loki.process.psql_logs.receiver]
  tail_from_end = true
}
loki.process "psql_logs" {
  stage.static_labels {
    values = {
      job     = "postgresql",
      service = "postgresql",
    }
  }

  forward_to = [loki.write.grafana_loki.receiver]
}


loki.write "grafana_loki" {
  endpoint {
    url = "http://priv-grafana.home.arpa:3100/loki/api/v1/push"
  }
}